{% extends "base.html" %}
{% block title %}About Us - Thryfty{% endblock %}

{% block content %}
<h1 class="display-4">About Us!</h1>
<h2>We aim to create a sustainable and affordable digital thrifting experience for all</h2>
<br>
<p>Thryfty is a one-stop website for avid fashion lovers to thrift to their hearts' content!
We offer a variety of clothing, ranging from shirts, dresses and accessories, to satisfy everyone.
    Our website allows for users to also sell their unwanted clothing to interested customers!
</p>
{% endblock %}